@{
  Layout = "_Layout";
}

@model BakedGoods.Models.Flavor

<h1>Edit info for this flavor</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("View All flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>